{% if haproxy_frontend is defined and haproxy_frontend|length %}
##########################
#       FRONTENDS        #
##########################
    {% for dict_item in haproxy_frontend %}
        {% for name, value in dict_item.items() %}
frontend {{ name }}
            {% if value.mode is defined %}
    mode            {{ value.mode }}
            {% endif %}
            {% if value.description is defined %}
    description     {{ value.description }}
            {% endif %}
            {% if value.binds is defined %}
                {% for bind in value.binds %}
    bind            {{ bind }}
                {% endfor %}
            {% endif %}
            {% if value.binds_ssl is defined %}
                {% for bind_ssl in value.binds_ssl %}
    bind            {{ bind_ssl }}
                {% endfor %}
            {% endif %}
            {% if value.bind_process is defined %}
    bind-process    {{ value.bind_process | join(' ') }}
            {% endif %}
            {% if value.capture is defined %}
                {% for cap in value.capture %}
    capture         {{ cap }}
                {% endfor %}
            {% endif %}
            {% if value.options is defined %}
                {% for opt in value.options %}
    option          {{ opt }}
                {% endfor %}
            {% endif %}
            {% if value.acls is defined %}
                {% for acl in value.acls %}
    acl             {{ acl }}
                {% endfor %}
            {% endif %}
            {% if value.monitor_uri is defined %}
    monitor-uri     {{ value.monitor_uri }}
            {% endif %}
            {% if value.http_requests is defined %}
                {% for http_request in value.http_requests %}
    http-request    {{ http_request }}
                {% endfor %}
            {% endif %}
            {% if value.tcp_requests is defined %}
                {% for tcp_request in value.tcp_requests %}
    tcp-request     {{ tcp_request }}
                {% endfor %}
            {% endif %}
            {% if value.http_responses is defined %}
                {% for http_response in value.http_responses %}
    http-response    {{ http_response }}
                {% endfor %}
            {% endif %}
            {% if value.tcp_responses is defined %}
                {% for tcp_response in value.tcp_responses %}
    tcp-response    {{ tcp_response }}
                {% endfor %}
            {% endif %}
            {% if value.reqadds is defined %}
                {% for reqadd in value.reqadds %}
    http-request add-header {{ reqadd }}
                {% endfor %}
            {% endif %}
            {% if value.reqrep is defined %}
                {% for reqrep in value.reqrep %}
    reqrep          {{ reqrep }}
                {% endfor %}
            {% endif %}
            {% if value.reqirep is defined %}
                {% for reqirep in value.reqirep %}
    reqirep         {{ reqirep }}
                {% endfor %}
            {% endif %}
            {% if value.rate_limit_sessions is defined %}
    rate-limit      sessions {{ value.rate_limit_sessions }}
            {% endif %}
            {% if value.use_backends is defined %}
                {% for use_backend in value.use_backends %}
    use_backend     {{ use_backend }}
                {% endfor %}
            {% endif %}
            {% if value.redirects is defined %}
                {% for redirect in value.redirects %}
    redirect        {{ redirect }}
                {% endfor %}
            {% endif %}
            {% if value.logs is defined %}
                {% for log in value.logs %}
    log             {{ log }}
                {% endfor %}
            {% endif %}
            {% if value.stick_table is defined %}
    stick-table     {{ value.stick_table }}
            {% endif %}
            {% if value.stats is defined %}
                {% for stat in value.stats %}
    stats           {{ stat }}
                {% endfor %}
            {% endif %}
            {% if value.timeouts is defined %}
                {% for timeout in value.timeouts %}
    timeout           {{ timeout }}
                {% endfor %}
            {% endif %}
            {% if value.default_backend is defined %}
    default_backend {{ value.default_backend }}
            {% endif %}
        {% endfor %}

    {% endfor %}
{% endif %}
