##########################
#        DEFAULT         #
##########################
defaults
{% if haproxy_default_logs is defined and haproxy_default_logs|length %}
    {% for log in haproxy_default_logs %}
    log        {{ log }}
    {% endfor %}
{% endif %}
{% if haproxy_default_log_format is defined and haproxy_default_log_format|length %}
    log-format  {{ haproxy_default_log_format }}
{% endif %}
    maxconn     {{ haproxy_default_maxconn | default('4000') }}
    retries     {{ haproxy_default_retries |default('3') }}
{% if haproxy_default_fullconn is defined and haproxy_default_fullconn|length %}
    fullconn    {{ haproxy_default_fullconn }}
{% endif %}
{% if haproxy_default_balance is defined and  haproxy_default_balance|length %}
    balance     {{ haproxy_default_balance }}
{% endif %}
{% if haproxy_default_http_check is defined and haproxy_default_http_check|length %}
    http-check  {{ haproxy_default_http_check }}
{% endif %}
{% if haproxy_default_monitor_uri is defined and haproxy_default_monitor_uri|length %}
    monitor-uri {{ haproxy_default_monitor_uri }}
{% endif %}
{% if haproxy_default_options is defined and haproxy_default_options|length %}
    {% for opt in haproxy_default_options %}
    option      {{ opt }}
    {% endfor %}
{% endif %}
{% if haproxy_default_timeouts is defined and haproxy_default_timeouts|length %}
    {% for timeout in haproxy_default_timeouts %}
    timeout     {{ timeout }}
    {% endfor %}
{% endif %}
{% if haproxy_default_errorfiles is defined and haproxy_default_errorfiles|length %}
    {% for errorfile in haproxy_default_errorfiles %}
    errorfile   {{ errorfile }}
    {% endfor %}
{% endif %}
{% if haproxy_default_mode is defined and haproxy_default_mode | length > 0 %}
    mode        {{ haproxy_default_mode }}
{% endif %}
