{% if haproxy_peer is defined and haproxy_peer|length %}
##########################
#          PEERS         #
##########################
    {% for dict_item in haproxy_peer %}
        {% for name, value in dict_item.items() %}
peers {{ name }}
            {% for peer in value.peers %}
    peer            {{ peer }}
            {% endfor %}
        {% endfor %}

    {% endfor %}
{% endif %}
