{% if haproxy_stats is defined and haproxy_stats|bool %}
##########################
#         STATS          #
##########################
listen stats
{% if haproxy_stats_ssl is defined and haproxy_stats_ssl|bool %}
    bind       {{ haproxy_stats_address }}:{{ haproxy_stats_port }} {{ haproxy_ssl }}
{% else %}
    bind       {{ haproxy_stats_address }}:{{ haproxy_stats_port }}
{% endif %}
    mode       http
    maxconn    10
    stats      enable
{% for opt in haproxy_stats_options %}
    stats      {{ opt }}
{% endfor %}
    stats      uri {{ haproxy_stats_uri }}
    {% if haproxy_stats_auth is defined and haproxy_stats_auth|bool %}
    stats      realm Haproxy\ Statistics
    stats      auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}
    {% endif %}
{% for listener_opt in haproxy_stats_listener_options %}
    option     {{ listener_opt }}
{% endfor %}
    timeout    client 100s
    timeout    server 100s
    timeout    connect 100s
    timeout    queue 100s
{% endif %}
