{% if haproxy_listen %}
##########################
#        LISTENS         #
##########################
    {% for dict_item in haproxy_listen %}
        {% for name, value in dict_item.items() %}
listen {{ name }}
            {% if value.mode is defined %}
    mode            {{ value.mode }}
            {% endif %}
            {% if value.description is defined %}
    description     {{ value.description }}
            {% endif %}
            {% if value.binds is defined %}
                {% for bind in value.binds %}
    bind            {{ bind }}
                {% endfor %}
            {% endif %}
            {% if value.binds_ssl is defined %}
                {% for bind_ssl in value.binds_ssl %}
    bind            {{ bind_ssl }}
                {% endfor %}
            {% endif %}
            {% if value.bind_process is defined %}
    bind-process    {{ value.bind_process | join(' ') }}
            {% endif %}
            {% if value.balance is defined %}
    balance         {{ value.balance }}
            {% endif %}
            {% if value.http_check is defined %}
    http-check      {{ value.http_check }}
            {% endif %}
            {% if value.cookie is defined %}
    cookie          {{ value.cookie }}
            {% endif %}
            {% if value.capture is defined %}
                {% for cap in value.capture %}
    capture         {{ cap }}
                {% endfor %}
            {% endif %}
            {% if value.options is defined %}
                {% for opt in value.options %}
    option          {{ opt }}
                {% endfor %}
            {% endif %}
            {% if value.timeouts is defined %}
                {% for timeout in value.timeouts %}
    timeout         {{ timeout }}
                {% endfor %}
            {% endif %}
            {% if value.acls is defined %}
                {% for acl in value.acls %}
    acl             {{ acl }}
                {% endfor %}
            {% endif %}
            {% if value.fullconn is defined %}
    fullconn        {{ value.fullconn }}
            {% endif %}
            {% if value.monitor is defined %}
    monitor         {{ value.monitor }}
            {% endif %}
            {% if value.monitor_uri is defined %}
    monitor-uri     {{ value.monitor_uri }}
            {% endif %}
            {% if value.http_requests is defined %}
                {% for http_request in value.http_requests %}
    http-request    {{ http_request }}
                {% endfor %}
            {% endif %}
            {% if value.tcp_requests is defined %}
                {% for tcp_request in value.tcp_requests %}
    tcp-request     {{ tcp_request }}
                {% endfor %}
            {% endif %}
            {% if value.http_responses is defined %}
                {% for http_response in value.http_responses %}
    http-response    {{ http_response }}
                {% endfor %}
            {% endif %}
            {% if value.tcp_responses is defined %}
                {% for tcp_response in value.tcp_responses %}
    tcp-response    {{ tcp_response }}
                {% endfor %}
            {% endif %}
            {% if value.tcp_checks is defined %}
                {% for tcp_check in value.tcp_checks %}
    tcp-check       {{ tcp_check }}
                {% endfor %}
            {% endif %}
            {% if value.persist is defined %}
    persist         {{ value.persist }}
            {% endif %}
            {% if value.rate_limit_sessions is defined %}
    rate-limit      sessions {{ value.rate_limit_sessions }}
            {% endif %}
            {% if value.redirects is defined %}
                {% for redirect in value.redirects %}
    redirect        {{ redirect }}
                {% endfor %}
            {% endif %}
            {% if value.reqrep is defined %}
    reqrep          {{ value.reqrep }}
            {% endif %}
            {% if value.retries is defined %}
    retires         {{ value.retries }}
            {% endif %}
            {% if value.stick_table is defined %}
    stick-table     {{ value.stick_table }}
            {% endif %}
            {% if value.sticks is defined %}
                {% for stick in value.sticks %}
    stick           {{ stick }}
                {% endfor %}
            {% endif %}
            {% for srv in value.servers %}
    server          {{ srv }}
            {% endfor %}
            {% if value.use_backends is defined %}
                {% for use_backend in value.use_backends %}
    use_backend     {{ use_backend }}
                {% endfor %}
            {% endif %}
        {% endfor %}

    {% endfor %}
{% endif %}
