{% if haproxy_stats %}
##########################
#         STATS          #
##########################
listen stats
    bind       {{ haproxy_stats_address }}:{{ haproxy_stats_port }}
    mode       http
    maxconn    10
    stats      enable
{% for opt in haproxy_stats_options %}
    stats      {{ opt }}
{% endfor %}
    stats      uri {{ haproxy_stats_uri }}
    {% if haproxy_stats_auth %}
    stats      realm Haproxy\ Statistics
    stats      auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}
    {% endif %}
    timeout    client 100s
    timeout    server 100s
    timeout    connect 100s
    timeout    queue 100s
{% endif %}
