---
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
sudo: required
services:
  - docker
install:
  - pip3 install ansible==${ANSIBLE_VERSION}.* docker molecule molecule-docker ansible-lint yamllint flake8 pytest-testinfra
script:
  - molecule test
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
env:
  # TODO: disabled Ansible 2.8 & 2.9 due to renamed docker_container module in 2.10
  # - ANSIBLE_VERSION=2.8
  # - ANSIBLE_VERSION=2.9
  - ANSIBLE_VERSION=2.10 CRYPTOGRAPHY_DONT_BUILD_RUST=1
